.modal-box{
    width: 608px;
    height: 481px;
}
.checkbook-select{
    color:#4173FF;
    font-size: 14px;  
}
.checkbook-icon{
    color:#4173FF;
    font-size: 14px;
    margin-right: 15px;
}
 .modal-box-input{
    width: 70px;
    height: 32px;
    margin-right: 5px;
    margin-left: 8px;
   
}
.modal-box-space{
    margin-left: 80px;
}
.modal-box-space-left{
    
}
.modal-box-item{
    margin-left: 80px;
}
.modal-box-lastitem{
    margin-left: 80px;

}
.modal-box-lastinput{
    width: 270px;
    margin-left: 8px;
    margin-right: 10px;
}
