.app {
  font-family: sans-serif;
  padding: 0;
  display: flex;
}

.app-stencil {
  width: 250px;
  border: 1px solid #f0f0f0;
  position: relative;
}

.app-content {
  flex: 1;
  height: 100vh;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.x6-graph-scroller {
  border: 1px solid #f0f0f0;
  margin-left: -1px;
}

.user-node {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #5BC9A4;
  box-shadow: 0px 12px 24px -4px rgba(91, 201, 164, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 选择样式 */
.x6-widget-selection-box {
  border: 1px dashed #5f95ff;
  margin-top: -3px;
  margin-left: -3px;
}

/* 拖拽板样式 */
.dnd-pannel {
  width: 250px;
  border: 1px solid #f0f0f0;
  position: relative;
  padding: 4px 24px;
  overflow: auto;
}

.dnd-group {
  padding: 12px 0;
  border-bottom: 1px solid #EEF0F4;
}

.dnd-group-title {
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #272E42;
  line-height: 24px;
  margin-bottom: 24px;
}

.dnd-unit {
  width: 60px;
  height: 60px;
  background: red;
}

/* 官方样式代码 */
.x6-node [magnet="true"] {
  cursor: crosshair;
  transition: none;
}

.x6-node [magnet="true"]:hover {
  opacity: 1;
}

.x6-node [magnet="true"][port-group="in"] {
  cursor: move;
}

.my-port {
  width: 100%;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 100%;
  background: #eee;
}

.my-port.connected {
  display: none;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-left: 1px;
  border-width: 5px 4px 0;
  border-style: solid;
  border-color: #808080 transparent transparent;
  border-radius: 0;
  background-color: transparent;
}

.x6-port-body.available {
  overflow: visible;
}

.x6-port-body.available body {
  overflow: visible;
}

.x6-port-body.available body>div::before {
  content: " ";
  float: left;
  width: 20px;
  height: 20px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 50%;
  background-color: rgba(57, 202, 116, 0.6);
  box-sizing: border-box;
}

.x6-port-body.available body>div::after {
  content: " ";
  float: left;
  clear: both;
  width: 10px;
  height: 10px;
  margin-top: -15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #39ca74;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
}

.x6-port-body.adsorbed {
  overflow: visible;
}

.x6-port-body.adsorbed body {
  overflow: visible;
}

.x6-port-body.adsorbed body>div::before {
  content: " ";
  float: left;
  width: 28px;
  height: 28px;
  margin-top: -9px;
  margin-left: -9px;
  border-radius: 50%;
  background-color: rgba(57, 202, 116, 0.6);
  box-sizing: border-box;
}

.x6-port-body.adsorbed body>div::after {
  content: " ";
  float: left;
  clear: both;
  width: 10px;
  height: 10px;
  margin-top: -19px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #39ca74;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
}

.dnd-group-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* icon-shape */
.x6-node foreignobject{
  cursor: pointer;
}

.x6-node foreignobject>body {
  padding-top: 19px;
}

.icon-shape {
  display: block;
  margin: 0 auto 8px;
  width: 32px;
  height: 32px;
}

.node-name {
  color: #fff;
  text-align: center;
}

.node-operator {
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.node-operator-box {
  width: 110px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px #D4D7DE;
  position: absolute;
  left: 50%;
  top: 27px;
  transform: translate(-50%, 0);
  border-radius: 4px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #5E6576;
  line-height: 28px;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
}

.node-operator-box::before,
.node-operator-box::after {
  content: '';
  display: block;
  background: #FFFFFF;
  position: absolute;
}

.node-operator-box::after {
  width: 100%;
  height: 12px;
  left: 0;
  top: 0;
  border-radius: 5px;
}

.node-operator-box::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0px 3px 6px 0px #D4D7DE;
  border-radius: 2px;
  left: 50%;
  top: 0px;
}

.node-operator-box-item{
  height: 28px;
}

.node-operator-box-item:hover {
  background: #ECF1FF;
}

.item-red {
  color: #F16272;
}

.hide {
  display: none;
}

.x6-node:hover{
  opacity: 0.8;
}

.node-disable {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}